@font-face {
    font-family: 'Space Grotesk Regular';
    src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk Bold';
    src: url('../fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Space Grotesk Semibold';
    src: url('../fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

nav {
    font-family: 'Space Grotesk Regular';
    font-size: 18px;
}