/* Skill Card styles */
.container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.skill-card {
    --bs-card-bg: #fff0 !important;
    --bs-gutter-x: 0 !important;
}

.container .skill-card {
    position: relative;
    cursor: pointer;
}

.container .skill-card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.container .skill-card .face.face1 {
    margin-top: -50px;
    position: relative;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.container .skill-card:hover .face.face1 {
    background: rgba(0, 0, 0, 1);
    transform: translateY(0);
}

.container .skill-card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.container .skill-card:hover .face.face1 .content img {
    opacity: 1;
    filter: brightness(2) sepia(1) saturate(10) hue-rotate(10deg) drop-shadow(0 0 0px #f5e272);
}

.container .skill-card .face.face1 .content img {
    max-width: 100px;
}

.container .skill-card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .skill-card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

.container .skill-card:hover .face.face2 {
    transform: translateY(0);
}

.container .skill-card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.container .skill-card .face.face2 .content a {
    margin: 15px 0 0;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: rgba(0, 0, 0, .99);
    padding: 5px;
    border: 1px solid #000;
}

.container .skill-card .face.face2 .content a:hover {
    background: #000;
    color: #fff;
}

/* Project Card styles */
.card.project-card {
    width: 24rem;
    height: 24rem;
    border-radius: 0px !important;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    color: #fff;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    --bs-card-bg: #fff0 !important;

    .fnd-out {
        color: #f5e272;
    }

    .fnd-out:hover {
        color: #fff;
    }

    img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.9;
        transition: opacity .2s ease-out;
    }

    h2 {
        position: absolute;
        inset: auto auto 30px 30px;
        margin: 0;
        transition: inset .3s .3s ease-out;
        font-family: 'Montserrat', sans-serif;
        font-weight: normal;
        text-transform: uppercase;
        text-shadow: 0 2px 16px rgba(0, 0, 0, 0.85),
        0 0px 2px #000,
        0 0px 32px #000,
        0 0px 1px #fff;
    }

    p, a {
        position: absolute;
        opacity: 0;
        max-width: 80%;
        transition: opacity .3s ease-out;
    }

    p {
        inset: auto auto 80px 30px;
    }

    a {
        inset: auto auto 40px 30px;
        color: inherit;
        text-decoration: none;
    }

    &:hover h2 {
        inset: auto auto 220px 30px;
        transition: inset .3s ease-out;
    }
    
    @media (max-width: 991.98px) {
        &:hover h2 {
            inset: auto auto 290px 30px;
        }
    }

    &:hover p, &:hover a {
        opacity: 1;
        transition: opacity .5s .1s ease-in;
    }

    &:hover img {
        transition: opacity .3s ease-in;
        opacity: 1;
    }
}

/* Loader */
.loader {
    width: 55px;
    aspect-ratio: 1;
    --g1: conic-gradient(from 90deg at 3px 3px, #0000 90deg, #fff 0);
    --g2: conic-gradient(from -90deg at 22px 22px, #0000 90deg, #fff 0);
    background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    animation: l7 1.5s infinite;
}

@keyframes l7 {
    0% {
        background-position: 0 0, 0 100%, 100% 100%
    }
    25% {
        background-position: 100% 0, 0 100%, 100% 100%
    }
    50% {
        background-position: 100% 0, 0 0, 100% 100%
    }
    75% {
        background-position: 100% 0, 0 0, 0 100%
    }
    100% {
        background-position: 100% 100%, 0 0, 0 100%
    }
}

.loader-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Burger Menu */
#menu__toggle {
    position: fixed;
    top: 34px;
    right: 20px;
    left: auto;
    width: 26px;
    height: 26px;
    opacity: 0;
    z-index: 2000;
    cursor: pointer;
    transform: translateY(-50%);
}

#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
}

#menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
}

#menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}

.menu__btn {
    position: fixed;
    top: 44px;
    right: 20px;
    left: auto;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 3;
    transform: translateY(-50%);
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
}

.menu__btn > span::before {
    content: '';
    top: -8px;
}

.menu__btn > span::after {
    content: '';
    top: 8px;
}

.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #000;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
    transition: left .25s;
    z-index: 1;
}

.menu__item {
    display: block;
    padding: 12px 24px;
    color: #fff;
    font-family: 'Space Grotesk', 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}

.menu__item:hover {
    color: #f5e272;
}

@media (min-width: 992px) {
    .menu__btn, #menu__toggle {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .menu__btn, #menu__toggle {
        display: block;
    }
}
